.container {
    & h2 {
        text-align: center;
        font-size: 1.8em;
        margin-bottom: 20px;
    }

    &>p {
        &>span {
            font-weight: bold;
            color: var(--text-accent);
        }
    }

    color: car(--text-primary);
    text-align: center;
    font-size: 1.5em;
}