.container {
    & #editor {
        height: 400px;
        border-radius: 4px;
        border: none;
        background-color: transparent;
        color: inherit;
        overflow: hidden;
        box-shadow:
            0px 2px 1px -1px #00000033,
            0px 1px 1px #00000024,
            0px 1px 3px #0000001f;

        & #editor_md {
            background-color: transparent;

        }
    }

    & h2 {
        color: var(--text-accent);
        text-transform: capitalize;
    }

    &>.preview {
        background-color: var(--blog-bg-secondary);
        padding: 20px;
        border-radius: 4px;

        &>#preview {
            border: none;
            background-color: transparent;
            color: inherit;
        }
    }
}