.container {
    font-size: 1.2em;
    position: relative;

    &>.tag {
        position: absolute;
        top: 30px;
        right: 0px;
    }
    
    &>.divider {
        display: grid;
        grid-template-columns: 1fr auto;
        column-gap: 20px;

        & .rating {
            transform: translateY(10px);
            border-radius: 4px;
            background-color: var(--blog-bg-secondary);
            transition: background-color 350ms;
        }
    }
}
