.container {
    display: grid;
    row-gap: 20px;
    padding: 30px 20px;

    &>h1 {
        font-size: 4em;
        line-height: 1em;
        margin: 0;
        text-align: center;
        color: var(--text-accent);
    }
    &>h2 {
        text-align: center;
        font-size: 1.8em;
        color: var(--text-secondary);
        margin: 0;

        &>span {
            color: var(--text-accent);
            font-size: 0.8em;
        }
    }

    &>.image {
        & img {
            border-radius: 4px;
            max-width: 100%;
        }
    }

    &>time {
        color: grey;
        font-size: 1.2em;
        text-align: center;
    }
    &>.actions {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        
        & button {
            width: 100%;
            cursor: pointer;
        }
    }
}
