.container {
    display: grid;
    grid-template-rows: auto auto 1fr;
    box-sizing: border-box;
    padding: 30px;
    height: 100%;

    &>h3 {
        font-size: 1.5em;
        color: var(--text-accent);
        margin: 0;
        text-transform: capitalize;
    }

    & .search {
        box-sizing: border-box;
        border-radius: 4px;
        padding: 0px 3px;
        font-size: 0.8em;
    }

    & .awaiting-location {
        color: grey;
    }

    &>.scrollable {
        height: 100%;
        font-size: 0.85em;
        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }

        &>.list {
            display: grid;
            row-gap: 15px;
            padding: 10px 0px 40px;

            &>.listing {
                overflow: hidden;
                width: 100%;
                box-sizing: border-box;
                padding: 20px;
                min-height: max-content;
                background-color: var(--blog-bg-secondary);
                cursor: pointer;

                &.awaiting-location {
                    user-select: text;
                    cursor: initial;
                }

                &>h4 {
                    margin: 0;
                }
            }
        }
    }
}
