.container {
    & .search {
        box-sizing: border-box;
        border-radius: 4px;
        font-size: 0.8em;
        padding: 0px 20px;
    }
    & .awaiting-location {
        color: grey;
    }
    &>.scrollable {
        overflow-y: scroll;
        height: 398px;
        padding: 20px;
        font-size: 0.7em;

        &>.list {
            display: grid;
            row-gap: 15px;

            &>.listing {
                width: 100%;
                box-sizing: border-box;
                padding: 20px;
                min-height: max-content;
                background-color: var(--blog-bg-secondary);
                cursor: pointer;
                
                &>h4 {
                    margin: 0;
                }
            }
        }
    }
}
