.container {
    &>.divider {
        padding-top: 10px;
        border-bottom: 3px dotted var(--blog-accent);
    }

    &>.select {
        display: grid;
        grid-template-columns: 1fr auto;
        cursor: pointer;

        &>.expand {
            display: grid;
            place-self: center;
        }

        &>h5 {
            margin: 0;
            font-size: 1em;
            font-weight: normal;
            transition: color 350ms;
        }

        &.selected {
            &>h5 {
                color: var(--text-accent);
                font-weight: bold;
            }
        }
    }

    &>h4 {
        font-weight: normal;
        color: rgb(92, 92, 92);
        margin: 10px 0px;
        font-size: 0.65em;
    }

    &>.actions {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-areas: "cancel spacer confirm";
        column-gap: 20px;
        padding-top: 20px;

        &>button {
            display: grid;
            place-content: center;

            & path {
                fill: white;
            }

            &.cancel {
                grid-area: cancel;
                background-color: #f63e3e;
            }

            &.confirm {
                grid-area: confirm;
                background-color: #4ad651;
            }
        }
    }
}
