main.container {
    box-sizing: border-box;
    position: relative;
    left: 120px;
    height: 100%;
    width: calc(100vw - 120px);
    background-color: var(--nav-bg);
    padding: 0px 20px 20px;

    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr auto;
    column-gap: 20px;
    transition: background-color 350ms;

    &>header {
        height: 145px;
        box-sizing: border-box;
        padding: 30px 0px 30px 20px;
        grid-column: 1/3;

        &>h1.title {
            text-transform: uppercase;
            color: var(--text-primary);
            font-size: 3.5em;
            margin: 0;
        }
    }

    &>.details {
        height: calc(100vh - 165px);
        width: 400px;
        display: grid;
        grid-template-rows: auto 1fr;

        @media screen and (min-width: 1300px) {
            width: 450px;
        }

        &>.filters {
            display: grid;
            grid-template-columns: 1fr 2fr;
            column-gap: 20px;
            row-gap: 10px;
            padding: 20px;
            margin-bottom: 20px;

            &>h2 {
                grid-column: 1/3;
            }
            &>button {
                padding: 0px;
                border: 2px solid var(--btn-bg);
            }
            & button {
                margin: 0px;
                &:hover, &:active, &:focus { 
                    transform: none;
                }
                transition: background-color 350ms, color 350ms;
                &:not(.selected){
                    background-color: transparent;
                    color: var(--text-secondary);
                }
            }

            &>.toggle {
                display: grid;
                grid-template-columns: 1fr 1fr;
                border: 2px solid var(--btn-bg);
                border-radius: 6px;

                &>button {
                    &:nth-child(1){
                        border-top-right-radius: 0px;
                        border-bottom-right-radius: 0px;
                    }
                    &:nth-child(2){
                        border-top-left-radius: 0px;
                        border-bottom-left-radius: 0px;
                    }

                }
            }
        }

        &>.list-holder {
            overflow-y: scroll;

            &>.list {
                display: grid;
                grid-auto-flow: row;
                row-gap: 20px;
            }
        }
    }
}
