.expanded-drink-description--wrapper{
    & .title{
        font-weight: bold;
        text-align: center;
        font-size: 1.5em;
    }
    & .title span{
        color: #8888FF;
        text-align: center;
    }
    & .date{
        text-align: center;
    }
    & .date span{
        color: #8888FF;
        font-weight: bold;
        font-size: 14px;
    }
    & img.user-uploaded{
        padding-top: 30px;
        width: 100%;
    }
    & #preview {
        background-color: transparent;
        border: none;
    }
}