.expanded-drink-description--wrapper {
    & .map {
        overflow: hidden;
        height: 250px;
        margin-bottom: 20px;
        position: relative;
        z-index: 0;
    }

    & .title {
        font-weight: bold;
        text-align: center;
        font-size: 1.5em;
    }

    & .title span {
        color: #8888FF;
        text-align: center;
    }

    & .date {
        text-align: center;
    }

    & .date span {
        color: #8888FF;
        font-weight: bold;
        font-size: 14px;
    }

    & img.user-uploaded {
        display: block;
        margin: 30px auto 0px;
        width: 100%;
        border-radius: 4px;
        max-width: 300px;
        overflow: hidden;
    }

    & table {
        margin: 0 auto;
    }

    & #preview {
        background-color: transparent;
        border: none;
    }
}