.container {
    position: relative;
    top: 0;
    left: 120px;
    height: 100%;
    width: calc(100vw - 120px);

    display: grid;
    grid-template-columns: 1fr 450px;
    background-color: var(--nav-bg);
    transition: background-color 350ms;

    &>main {
        height: 100%;

        &>header {
            height: 125px;
            box-sizing: border-box;
            padding: 30px 0px 0px 20px;
            grid-column: 1/3;

            &>h1.title {
                text-transform: uppercase;
                color: var(--text-primary);
                font-size: 3.5em;
                margin: 0;
            }
        }

        &>.content {
            height: calc(100vh - 165px);

            &>.table-header {
                margin: 20px 20px 0px;
                text-transform: uppercase;
                background-color: var(--blog-bg-secondary);
                color: var(--table-header--text);
                font-weight: bold;
                
                &:hover{
                    cursor: default;
                }
            }

            &>.scrollable {
                height: calc(100% - 100px);
                box-sizing: border-box;
                padding: 0px 20px;
                overflow-y: scroll;

                &>.transactions {
                    display: grid;
                    row-gap: 15px;

                    &>.month {
                        font-size: 2em;
                        font-weight: bold;
                        color: var(--text-accent);
                    }
                }
            }
        }
    }

    &>aside {
        display: grid;
        row-gap: 20px;
        margin-top: 145px;
        height: min-content;
        max-height: calc(100vh - 165px);
        overflow-y: scroll;
        padding: 0px 20px 0px 5px;

        &>.search {
            padding: 20px;

            &>h2 {
                margin: 0;
            }
        }
    }
}
