.container {
    position: relative;
    top: 0;
    left: 120px;
    height: 100%;
    width: calc(100vw - 120px);

    display: grid;
    grid-template-columns: 1fr 400px;
    background-color: var(--nav-bg);
    transition: background-color 350ms;

    @media screen and (min-width: 1300px) {
        grid-template-columns: 1fr 450px;
    }

    &>main {
        height: 100%;

        &>header {
            height: 125px;
            box-sizing: border-box;
            padding: 30px 0px 0px 20px;
            grid-column: 1/3;
            display: grid;
            column-gap: 20px;
            grid-template-columns: auto 1fr;

            &>h1.title {
                text-transform: uppercase;
                color: var(--text-primary);
                font-size: 3.5em;
                margin: 0;
            }

            &>.download {
                display: grid;
                place-self: center start;
                cursor: pointer;

                & path {
                    fill: grey;
                }
            }
        }

        &>.content {
            height: calc(100vh - 115px);

            &>.table-header {
                margin: 20px 20px 1px;
                text-transform: uppercase;
                background-color: var(--blog-bg-secondary);
                color: var(--table-header--text);
                font-weight: bold;

                &:hover {
                    cursor: default;
                }
            }

            &>.scrollable {
                height: calc(100% - 100px);
                box-sizing: border-box;
                padding: 19px 20px 20px;
                overflow-y: scroll;
                scrollbar-width: none;
                -ms-overflow-style: none;

                &::-webkit-scrollbar {
                    width: 0;
                    height: 0;
                }
            }
        }
    }

    &>aside {
        box-sizing: border-box;
        display: grid;
        row-gap: 20px;
        margin-top: 145px;
        height: min-content;
        max-height: calc(100vh - 145px);
        padding: 0px 20px 0px 5px;
        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }

        &:after {
            content: "";
            height: 1px;
        }

        &>.search {
            padding: 20px 30px 30px;

            &>h2 {
                margin: 0;
            }
        }

        &>.not-selected {
            padding: 70px;
            text-align: center;
            color: grey;
            font-size: 1.2em;
        }
    }
}
