.wrapper {
    box-sizing: border-box;
    width: 100%;
    padding: 0px 20px 20px;
}

.tick {
    &>line {
        width: 1px;
    }
}

.tick-label {
    fill: var(--text-secondary);
    font-size: 7px;
}

.tooltip {
    display: grid;
    row-gap: 10px;
    padding: 10px;
    text-align: center;
    &>time {
        font-size: 1.4em;
        text-transform: uppercase;
    }
    &>p {
        font-size: 1.2em;
        color: black;
    }
}