.container {
    position: relative;
    box-sizing: border-box;
    top: 0;
    left: 120px;
    height: 100%;
    width: calc(100vw - 120px);
    display: grid;
    grid-template-columns: 1fr 450px;
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;
    background-color: var(--nav-bg);
    transition: background-color 350ms;

    @media screen and (max-width: 1500px) {
        grid-template-columns: 1fr 370px;
    }
    @media screen and (max-width: 1450px) {
        font-size: 0.9em;
    }
    @media screen and (max-width: 1300px) {
        font-size: 1em;
        grid-template-columns: 1fr 0px;
        padding-right: 20px;
    }

    & h2 {
        margin: 0;
        font-size: 2em;
        color: var(--text-accent);
    }

    &>main {
        overflow-y: scroll;

        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar { 
            width: 0;
            height: 0;
        }

        &>header {
            height: 145px;
            box-sizing: border-box;
            padding: 30px 0 30px 20px;

            &>h1.title {
                text-transform: uppercase;
                color: var(--text-primary);
                font-size: 3.5em;
                margin: 0;
            }
        }

        &>.content {
            box-sizing: border-box;
            padding: 0px 0px 20px 20px;
            display: grid;
            grid-template-columns: 400px 1fr;
            column-gap: 20px;
            row-gap: 20px;
            grid-template-rows: auto 240px auto;
            overflow-y: scroll;

            &>.map {
                grid-column: 1/3;
                height: calc(100vh - 300px);
            }

            &>.heatmap {
                &>h2 {
                    margin: 30px;
                }

                grid-column: 1/2;
                grid-row: 2/4;
                width: 100%;
                height: max-content;
            }
            &>.stats {
                grid-column: 2/3;
                grid-row: 2/3;
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 20px;
                &>div {
                    padding: 30px;
                    display: grid;
                    place-content: center;
                    text-align: center;
                }
                &>.budget {
                    background-color: var(--dash-bg-secondary);
                    font-size: 0.9em;
                    & p{
                        color: var(--text-primary);
                        font-size: 1.2em;
                    }
                    & h2{
                        margin: 0px;
                        font-size: 3.5em;
                        color: var(--dash-text-secondary);
                    }
                }
                &>.total {
                    & > p{
                        font-size: 1.7em;
                        color: var(--text-accent);
                    }
                    & > h2 {
                        margin: 0px;
                        font-size: 4em;
                        color: var(--text-accent);
                    }
                }
            }
            &>.xy {
                grid-column: 2/3;
                grid-row: 3/4;
                width: 100%;
                height: 100%;
                display: grid;
                place-content: center;
            }
        }

    }

    &>aside.sidebar {
        height: calc(100vh - 145px);
        margin-top: 145px;
        box-sizing: border-box;
        width: 100%;
        padding: 0px 20px 20px 20px;
        overflow-y: scroll;

        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar { 
            width: 0;
            height: 0;
        }

        &>.aside-container {
            width: 100%;
            display: grid;
            grid-template-rows: auto auto 1fr;
            row-gap: 20px;

            &>.recent {
                padding: 30px 30px 40px;
            }

            &>.search {
                padding: 20px 30px 20px;

                &>span {
                    color: grey;
                }
            }
        }
    }
}
