div.wrapper {
    background-color: var(--nav-bg);
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;

    &>.content {
        overflow-y: scroll;
        padding: 30px 0px 0px 20px;

        &>header {
            padding-bottom: 30px;
            &>h1.title {
                text-transform: capitalize;
                color: var(--text-primary);
                font-size: 3.5em;
                margin: 0;
            }
        }

        &>.map {
            height: 600px;

            &>.fake {
                background-color: #f68080;
                object-position: 0px 0px;
                object-fit: cover;
                width: 100%;
            }
        }
    }
    
    &>aside.sidebar {
        height: 100vh;
        box-sizing: border-box;
        padding: 145px 0px 0px 0px;
        width: 450px;

        &>.scrollable {
            box-sizing: border-box;
            overflow-y: scroll;
            height: 100%;
            padding: 0px 20px 20px 20px;
            &>.container {
                display: grid;
                grid-template-rows: auto auto 1fr;
                row-gap: 20px;

                &>h2 {
                    color: white;
                    font-size: 2.3em;
                    margin: 0;
                }
                &>.recent {
                    padding: 30px 30px 40px;
                    &>h2 {
                        margin: 0;
                        font-size: 2em;
                        color: var(--text-accent);
                    }
                }
                &>.search {
                    padding: 20px 30px 20px;
                    &>h2 {
                        margin: 0;
                        font-size: 2em;
                        color: var(--text-accent);
                    }
                }
            }
        }
    }
}
