.help-content{
    position: fixed;
    place-self: center;
    box-sizing: border-box;
    background-color: var(--bg-primary);
    width: calc(100vw - 40px);
    max-width: 500px;
    border-radius: 4px;
    padding: 10px 0px 15px;
    z-index: 1050;
    & .slide{
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 40px 20px;
        @media screen and (max-width: 350px){
            padding: 10px 25px 20px;
        }
    }
    & h2{
        text-align: center;
        margin: 10px 0 0 0;
        font-size: 2.4rem;
        color: var(--text-accent);
        @media screen and (max-width: 350px){
            font-size: 2rem;
        }
    }
    & h3{
        margin: 0px;
        color: #F68080;
    }
    & span{
        color: grey;
    }
    & p{
        font-size: 14px;
    }
    & img{
        width: 100%;
        object-fit: cover;
    }
    & button, button:hover, button:focus, button:active{
        background-color: transparent;
        &:before{
            background: var(--text-secondary) !important;
        }
    }
}