.container {
    & .input-container {
        place-self: center;
        height: 80vh;
        max-height: 700px;

        display: grid;
        grid-template-columns: 380px 420px;
        column-gap: 20px;
        font-size: 1.2em;

        &>.preview {
            height: max-content;
            padding: 30px 35px;
            
            &>h3 {
                font-size: 1.5em;
                color: var(--text-accent);
                margin: 0 0 10px;
            }
        }
    }
}
