.container {
    cursor: initial;
    user-select: text;
    padding-bottom: 15px;

    &>.title {
        font-weight: bold;
        text-align: center;
    }

    &>.title span {
        color: #8888FF;
        text-align: center;
    }

    &>.date {
        text-align: center;
    }

    &>.date span {
        color: #8888FF;
        font-weight: bold;
        font-size: 14px;
    }

    &>img.user-uploaded {
        width: 100%;
    }

    &>.description {
        &>span {
            display: inline-block;
            width: 100%;
            text-align: center;
            color: grey;
            text-transform: uppercase;
        }
    }

    #preview {
        background-color: transparent;
        border: none;
    }
}
