.container {
    position: absolute;
    box-sizing: border-box;
    z-index: 500;
    top: 37px;
    left: 37px;
    height: 37px;
    width: 37px;
    padding: 0px;
    display: grid;
    place-content: center;
    cursor: pointer;
}
