.container {
    display: inline-block;
    margin-bottom: 10px;
    border: 2px dashed var(--text-accent);
    border-radius: 3px;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    font-size: 0.9rem;
    text-align: center;
    color: var(--text-accent);
    cursor: pointer;

    &.uploading {
        border: 2px solid var(--text-accent);
    }

    &.uploaded {
        border: 2px solid rgb(15, 207, 15);
    }

    &>input[type=file] {
        display: none;
    }
    &>img.preview {
        width: 100%;
        object-fit: contain;
    }
}
