nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: fixed;
    height: 56px;
    width: 100%;
    bottom: 0;
    background-color: var(--nav-bg);
    -webkit-appearance: none;
    z-index: 950;
    & .add-icon{
        height: 100px;
        width: 100px;
        box-sizing: border-box;
        margin: -22px auto;
        padding-top: 17px;
        text-align: center;
        border: 6px solid var(--nav-bg);
        border-radius: 50%;
        color: var(--nav-bg);
        background-color: var(--nav-text);
        z-index: 1000;
        transition: transform 350ms;
        &.selected{
            transform: translateY(-5px);
        }
    }
    & .icon{
        padding-top: 15px;
        text-align: center;
        transition: padding-top 350ms;
        -webkit-appearance: none;
        &.selected{
            padding-top: 8px;
            & p.label{
                height: 1.5rem;
            }
        }
        & p.label{
            transform: translateY(-13px);
            font-size: 0.9rem;
            overflow: hidden;
            height: 0;
            transition: height 350ms;
            color: var(--nav-text);
            text-decoration: none;
        }
        & svg{
            fill: var(--nav-text);
        }
    }
}