:root{
    --bg-primary: white;
    --bg-secondary: white;
    --bg-border: #FFDCDC;
    --bg-blend: linear-gradient(180deg, #FC8A8A 0%, #FFD3B3 100%);
    --dash-blend: #FFD3B3;
    --avatar-border: white;
    --text-primary: white;
    --text-secondary: black;
    --text-light: #FFC9C2;
    --text-accent: #F68080;
    --btn-bg: #F68080;
    --btn-text: white;
    --nav-bg: #FFAFA4;
    --nav-text: white;
}
html, body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    overscroll-behavior: none;
    -webkit-overflow-scrolling: touch;
    min-height: -webkit-fill-available;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-primary);
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif; */
    font-family: "Poppins";
    font-display: fallback;
    overscroll-behavior: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
p{
    color: var(--text-secondary);
    transition: color 350ms;
}
textarea{
    font-family: 'Poppins';
}
button{
    font-size: 14px;
    font-family: Poppins;
    font-weight: 700;
    border-radius: 4px;
    padding: 5px 30px;
    border: none;
    color: var(--btn-text);
    background-color: var(--btn-bg);
    transition: background-color 350ms, color 350ms, transform 250ms;
    &:hover, &:active, &:focus{
        background-color: rgb(255, 162, 162);
        transform: translateY(1px);
    }
    &.text{
        height: 30px;
        width: auto;
    }
}
select, option{
    font-family: 'Poppins';
}
a{
    text-decoration: none;
    &:active, &:focus{
        outline: 0;
        border: none;
    }
}
h2.bw, h3.bw, h4.bw, h5.bw, h6.bw{
    transition: color 350ms;
}
h2.bw, h3.bw, h4.bw, h5.bw{
    font-weight: 700;
}
h2.bw, h4.bw, h5.bw, h6.bw{
    margin: 0px;
}
h2.bw{
    color: var(--text-primary);
    font-size: 48px;
}
h3.bw{
    color: var(--text-accent);
    font-size: 24px;
    margin: 0px;
}
h4.bw{
    color: var(--text-primary);
    font-size: 24px;
}
h5.bw{
    color: var(--text-secondary);
    font-size: 18px;
}
h6.bw{
    color: var(--text-accent);
    font-size: 12px;
}
.page{
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    background-color: var(--bg-primary);
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;
    &.with-user{
        position: fixed;
    }
}
.avatar-button{
    height: 37px;
    width: 37px;
    border-radius: 50%;
    position: absolute;
    right: 40px;
    top: 36px;
    border: 2px solid var(--avatar-border);
    transition: border-color 350ms;
}
.login-page{
    height: 100vh;
    width: 100vw;
    text-align: center;
    overflow-y: scroll;
    background: var(--bg-blend);
}
.login-logo{
    height: calc(100vw - 50px);
    max-height: 40vh;
    width: calc(100vw - 50px);
    max-width: 40vh;
    margin: 0 auto;
    padding-top: 15vh;
    background-image: url('../../../assets/logo-shadow.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
@media only screen and (max-width: 350px) {
    h2.bw {
        font-size: 30px;
    }
    h3.bw {
        font-size: 20px;
    }
    h4.bw {
        font-size: 20px;
    }
}
