.scrollable {
    height: calc(100% - 68px);
    overflow-y: scroll;

    &>.container {
        display: grid;
        row-gap: 20px;

        &>.create {
            padding: 30px 60px;
            color: grey;
            border: 4px dashed var(--nav-bg);
            border-radius: 4px;
            text-align: center;
            font-size: 1.6em;
            cursor: pointer;
            transition: background-color 350ms, color 350ms;

            &:hover {
                background-color: #ffffff11;
                color: var(--text-secondary);
            }
        }
        &>.empty {
            padding: 40px 60px;
            font-size: 1.8em;
            text-align: center;
        }
    }
}
