.wrapper {
    z-index: 500;
    position: absolute;
    right: 50px;
    top: 45px;
    border-radius: 26px;
    display: grid;
    grid-template-columns: auto 54px;
    grid-template-rows: 54px auto;
    grid-template-areas: "date avatar""details details";
    background-color: var(--avatar-border);
    transition: background-color 350ms;

    &>time.date {
        padding: 0px 10px 0px 20px;
        font-size: 1.3em;
        font-weight: bold;
        place-self: center end;
        color: var(--text-accent);
    }

    &>.avatar {
        place-self: center;
        grid-area: avatar;
        height: 48px;
        width: 48px;
        border-radius: 50%;
        cursor: pointer;
    }

    &>.details {
        grid-column: 1/3;
        max-height: 0;
        max-width: 0;
        overflow: hidden;
        padding: 0px 25px 0px;
        transition: max-height 350ms, max-width 350ms, padding 350ms;

        &.expanded {
            box-sizing: border-box;
            max-height: 400px;
            max-width: 400px;
            padding: 0px 25px 30px;
        }
    }
}
