.wrapper {
    max-width: 220px;

    & .theme-select,
    & .theme-select>div {
        background-color: var(--bg-primary);
        color: var(--text-secondary);
    }

    & label.theme-label {
        font-size: 16px;
        color: var(--text-accent);
    }
    &>.theme-select {
        margin-bottom: 20px;
    }

    &>.button-holder {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        text-align: center;
        row-gap: 15px;
        width: 100%;
        margin-top: 5px;

        &>button {
            width: 100%;
            margin: 0px;
        }

        &>.logout {
            color: var(--logout-btn);
            border: 1px solid var(--logout-btn);
            background-color: var(--bg-primary);
        }
    }
}
