.container {
    background-color: var(--nav-bg);
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    overscroll-behavior-y: none;
    overscroll-behavior-x: initial;

    &>main {
        margin: 0 auto;
        display: grid;
        max-width: 1400px;
        width: calc(100vw - 160px);
        padding-top: calc(100vh - 35vw - 200px);

        @keyframes fadeDownIn {
            0% {
                transform: translateY(-50px);
                opacity: 0;
            }

            100% {
                transform: translateY(0px);
                opacity: 1;
            }
        }

        @keyframes fadeLeft {
            0% {
                transform: translateX(-60px);
                opacity: 0;
            }

            100% {
                transform: translateX(0px);
                opacity: 1;
            }
        }

        &>img.hero {
            position: absolute;
            left: 50vw;
            top: 20px;
            height: calc(100vh - 40px);
            width: calc(50vw - 20px);
            object-fit: cover;
            object-position: 100%;
            filter: blur(4px);
            transition: filter 1s;

            &:hover {
                filter: blur(0px);

            }
        }
        &>.border {
            position: absolute;
            left: calc(50vw - 5px);
            top: 15px;
            height: calc(100vh - 40px);
            width: calc(50vw - 20px);
            border: 5px solid var(--nav-bg);
            border-radius: 2px;
            pointer-events: none;
        }

        &>.title {
            position: relative;
            pointer-events: none;

            &>h1 {
                
                &>span {
                    opacity: 0;
                    display: inline-block;

                    &:nth-child(1) {
                        animation: fadeLeft 700ms 250ms forwards;
                    }

                    &:nth-child(3) {
                        animation: fadeLeft 700ms 400ms forwards;
                    }

                    font-size: calc(12vw + 80px);
                    line-height: 0.9em;
                    color: #F68080;
                    text-shadow: 1px 2px 4px #151515aa;
                    letter-spacing: -5px;
                    margin: 0;

                    &>span {
                        letter-spacing: -15px;
                    }
                }
            }

            &>h3 {
                color: white;
                margin: 0 20px;
                line-height: 1em;
                font-size: 3vw;

                &>span {
                    display: inline-block;
                    opacity: 0;
                }

                @for $i from 1 through 4 {
                    &>span:nth-child(#{$i * 2 - 1}) {
                        animation: fadeDownIn 1s #{$i * 400}ms forwards;
                    }
                }

            }
        }


        & img {
            border-radius: 4px;

            &.desktop {
                margin: 40px 0px;
                display: grid;
                place-self: center;
                width: 80vw;
                box-shadow: 1px 1px 4px 0px #404040;
            }

        }

        &>.about {
            &>h4 {
                font-size: 0.6em;
                margin: 0;
                color: #FFDCDC;
                transform: translateX(-200px);
            }

            padding: 20px 20px 20px 20vw;
            font-size: 3em;
            font-weight: bold;
            margin: 20vh 0;
            color: #ffffff;

            & a {
                color: #333;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    &>aside {
        display: grid;
        grid-template-columns: auto auto auto auto;
        column-gap: 20px;
        position: fixed;
        left: 40px;
        bottom: 40px;
        font-size: 1.2em;
        writing-mode: sideways-lr;
        font-weight: bold;
        color: white;

        @media screen and (max-width: 1600px) {
            left: 30px;
        }

        & a {
            &:hover {
                text-decoration: underline;
            }
        }

        &>.line {
            display: grid;
            place-self: center;
            width: 4px;
            border-radius: 2px;
            height: 180px;
            background-color: white;
        }
    }
    &>footer {
        height: 100vh;
        display: grid;
        place-content: center;
        color: #FFDCDC;
        font-size: 5em;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        background-color: #f68080;

        &>span {
            font-size: 0.3em;
            font-weight: normal;
            text-align: center;
        }
    }
}
