.expanded-drink-description--wrapper{
    & .title{
        font-weight: bold;
        text-align: center;
    }
    & .title span{
        color: #8888FF;
        text-align: center;
    }
    & .date{
        text-align: center;
    }
    & .date span{
        color: #8888FF;
        font-weight: bold;
        font-size: 14px;
    }
    & img.user-uploaded{
        width: 100%;
    }
}