.history-page{
    padding: 40px 40px 80px 40px;
}
.history-load-more{
    text-align: center;
    height: 50px;
    font-size: 35px;
    color: #FFC9C2;
}
p{
    margin: 0;
    font-family: Poppins;
}
h3 span{
    color: var(--text-secondary);
}
.history-total{
    margin-top: 25px;
    text-align: right;
}