.history-page{
    padding: 40px 40px 80px 40px;
}
.history-load-more{
    text-align: center;
    height: 55px;
    font-size: 35px;
    color: #FFC9C2;
}
p{
    margin: 0;
    font-family: Poppins;
}
h3 span{
    color: var(--text-secondary);
}
.history-total{
    padding: 20px 0 15px 0;
    text-align: right;
}
.thaman-color{
    border-bottom: 2px solid var(--text-accent);
}