.container{
    padding: 40px 40px 90px 40px;
    
    @media screen and (min-width: 950px){
        display: grid;
        grid-template-columns: 1fr 400px;
        grid-template-areas: "header header" "list search";
        column-gap: 40px;
        &>.header {
            grid-column: 1/3;
        }
    }

    @media screen and (max-width: 350px){
        padding: 40px 25px 230px 25px;
    }

    &>.search {
        grid-area: search;
    }

    &>.history {
        grid-area: list;
    }

    & h3.bw{
        color: var(--btn-bg);
        &.total{
            padding: 20px 0 15px 0;
            text-align: right;
            color: var(--blog-text-primary);
        }
        &.none-label{
            color: grey;
            font-size: 16px;
        }
        & span{
            color: var(--history-summary);
        }
    }
}
.load-more{
    text-align: center;
    height: 55px;
    font-size: 35px;
    color: var(--text-accent);
}
p{
    margin: 0;
    font-family: Poppins;
}


.thaman-color{
    border-bottom: 2px solid var(--text-accent);
    &.none-label{
        margin-top: 10px;
        padding: 5px 0px;
        border-bottom: 1px solid var(--text-accent);
        border-top: 1px solid var(--text-accent);
    }
}
