.container {
    position: relative;    

    .description {
        position: absolute;
        display: grid;
        place-content: center;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding-top: 20px;
        text-align: center;
        font-family: 'Poppins';

        &>p {
            font-size: 1em;
            color: var(--text-accent);
            @media screen and (max-width: 950px) {
                font-size: 0.8em;
            }
        }
        & span{
            font-weight: bold;
            color: var(--text-secondary);
            font-size: 3em;
            line-height: 1.1em;
        }
    }
    .chart {
        padding-top: 20px;
        width: 100%;

        & .full {
            height: 100%;
            width: 100%;
        }
    }
}
