.wrapper {
    position: relative;    

    .description {
        position: absolute;
        display: grid;
        place-content: center;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding-top: 20px;
        text-align: center;
        font-family: 'Poppins';
        font-size: 1em;
        color: var(--text-accent);

        & span{
            font-weight: bold;
            color: var(--text-secondary);
            font-size: 3em;
            line-height: 1.1em;
        }
    }
    .chart {
        padding-top: 20px;
        width: 100%;

        & .full {
            height: 100%;
            width: 100%;
        }
    }
}
