.card {
    overflow: hidden;
    border-radius: 4px;
    background-color: var(--bg-secondary);
    box-shadow:
        0px 2px 1px -1px #00000033,
        0px 1px 1px #00000024,
        0px 1px 3px #0000001f;
    transition: color 350ms, background-color 350ms;

}

.card>h2 {
    font-size: 3em;
    margin: 0 0 20px;
    color: var(--text-accent);
    text-transform: capitalize;
}
