.modal-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #000000aa;
    display: none;
    z-index: 1040;
    overflow: hidden;
}
.modal-backdrop.open{
    display: grid;
    overflow: hidden;
}