.star-rating--wrapper{
    width: 100%;
    direction: rtl;

    & .rating-select{
        direction: ltr;
        display: grid;
        padding: 5px 10px 5px 15px;
        grid-template-columns: auto 90px;
        border-radius: 20px 0px 0px 20px;
        background-color: var(--blog-accent);
        max-width: 180px;

        & p{
            color: white;
            font-weight: bold;
            text-transform: uppercase;
        }
        & svg{
            margin: 0 2px 0 2px;
            height: 13px;
        }
    }
}