.add-modal{
    position: fixed;
    top: calc( 50vh - 230px);
    height: 390px;
    width: calc( 100vw - 84px);
    left: 38px;
    background-color: white;
    border: 2px solid #FFDCDC;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 27px;
}
.add-input{
    width: 100%;
}
.add-button-holder{
    text-align: center;
    width: 100%;
}