.add-modal{
    position: fixed;
    top: calc( 50vh - 160px);
    height: 300px;
    width: calc( 100vw - 84px);
    left: 38px;
    background-color: white;
    border: 2px solid #FFDCDC;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 27px;
}