.dashboard-page{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px calc(100vw - 84px) 150px 120px;
    row-gap: 15px;
    column-gap: 15px;
    padding: 40px 40px 40px 40px;
    background: linear-gradient(180deg, #FC8A8A 0%, #FFD3B3 50%);
    background-size: 100vw 190px;
    background-repeat: no-repeat;
}
.chart-holder{
    border: 2px solid #FFDCDC;
    grid-column: 1/4;
    grid-row: 2/3;
}
.dashboard-page--title{
    grid-column: 1/4;
    grid-row: 1/2;
}
.month-total-money{
    text-align: center;
    background-color: #FFAFA4 !important;
    grid-column: 1/3;
    grid-row: 3/4;
}
.month-total-money > p {
    color: white;
    font-size: 10px;
    padding: 15px 20px 10px 20px;
}
.month-drink-limit{
    background: linear-gradient(180deg, #FFDCDC 0%, #FFDCDC 50%) no-repeat;
    background-position-y: 300px;
    background-size: 100% 100%;
    text-align: center;
    padding: 80px 3px 0 3px;
    border: 2px solid #FFDCDC;
    grid-column: 3/4;
    grid-row: 3/5;
    transition: all 1s;
}
.month-drink-limit > p{
    color: #FC8A8A;
    font-size: 12px;
    mix-blend-mode: darken;
}
.month-total-drinks{
    padding: 20px;
    text-align: center;
    grid-column: 1/3;
    grid-row: 4/5;
}
.daily-chart{
    grid-column: 1/4;
}
.month-total-drinks > p {
    color: #FC8A8A;
}
.month-total-drinks > h2 {
    color: #FC8A8A;
}
.chard-holder-description{
    font-family: 'Poppins';
    position: absolute;
    text-align: center;
    margin-top: calc(50vw - 80px);
    z-index: 100;
    width: calc(100vw - 84px);
    font-size: 11px;
}
.chard-holder-description span{
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
}
/**
TODO desktop mode
*/
/* @media only screen and (min-width: 700px){
    .dashboard-page{
        grid-template-columns: 85vh calc(75vw - 85vh - 110px) 25vw;
        grid-template-rows: 40px 20vh 20vh calc(45vh - 100px);
        row-gap: 15px;
        column-gap: 15px;
    }
    .chart-holder{
        grid-column: 1/2;
        grid-row: 2/5;
    }
    .chard-holder-description{
        position: absolute;
        text-align: center;
        margin-top: calc(50vh - 130px);
        z-index: 100;
        width: 40vw;
        font-size: 11px;
    }
    .month-total-drinks{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .month-total-money{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .month-drink-limit{
        grid-column: 2/3;
        grid-row: 4/5;
        padding: 5vh 3px 0 3px;
    }
    .dashboard-page--title{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .daily-chart{
        grid-column: 3/4;
        grid-row: 2/5;
    }
} */