.history-page{
    padding: 40px 40px 40px 40px;
}
.history-drink-label{
    display: grid;
    grid-template-columns: 1fr 1fr 40px;
    grid-template-rows: 25px 35px;
}
p{
    margin: 0 !important;
    font-family: Poppins;
}
.drink-place{
    color: #F68080;
}
.drink-time{
    text-align: right;
    color: grey;
    font-size: 12px;
    padding-top: 8px;
}
.drink-price{
    font-size: 24px;
    text-align: right;
}
.drink-description{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
img{
    width: 60vw;
    background-color: #FFC9C2;
    margin: 30px calc(50% - 30vw) 0 calc(50% - 30vw);
}
.thaman-color{
    border-bottom: 2px solid #F68080;
    margin-bottom: 10px;
}
h3 span{
    color: black;
}
.history-total{
    margin-top: 25px !important;
    text-align: right;
}
.expand-icon{
    margin-top: 10px;
    color: #F68080;
}
.drink-options{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px;
    margin-bottom: 5px;
}