.user-modal{
    position: fixed;
    top: calc( 50vh - 140px);
    height: 300px;
    width: calc( 100vw - 50px);
    left: 25px;
    background-color: white;
    border: 3px solid #FFDCDC;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 60px 40px 40px 40px;
}
.user-input{
    width: 100%;
}
.update-button-holder{
    text-align: center;
    width: 100%;
}
.user-avatar{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: absolute;
    top: -60px;
    left: calc( 50vw - 82px);
    margin: 0;
    border: 4px solid #FFDCDC;
}