.user-modal{
    position: fixed;
    top: calc( 50vh - 190px);
    width: calc( 100vw - 50px);
    left: 50%;
    transform: translateX(-50%);
    max-width: 400px;
    background-color: white;
    border: 3px solid #FFDCDC;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 60px 40px 40px 40px;
    transition: all 320ms;
}
.user-modal:focus{
    outline: none;
}
.user-input{
    width: 100%;
}
.update-button-holder{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    width: 100%;
}
.user-avatar{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    border: 4px solid #FFDCDC;
}
.close-button{
    position: absolute !important;
    top: 15px;
    right: 15px;
    padding: 3px !important;
    background-color: #FFAFA4 !important;
}
.user-share-profile{
    padding-left: 20px;
    text-align: center;
}
.logout-button{
    transition: all 320ms !important;
}
.logout-button:hover{
    background-color: #FF5050 !important;
    color: white !important;
}