.blog-page{
    padding-bottom: 40px;
    & h2.review{
        color: var(--blog-text-primary);
        text-align: center;
        margin: 0 0 10px 0;
        letter-spacing: 4px;
        & span{
            position: relative;
            top: -5px;
            font-size: 0.8rem;
        }
    }
    & .blog-header{
        background-color: var(--blog-bg-primary);
        color: #FFFFFF;
        font-size: 0.9rem;
        margin: 0;
        padding: 10px 0px;
        font-weight: bold;
        .icon{
            height: 30px;
            width: 30px;
            padding-right: 10px;
            transform: translateY(-6px);
            background-image: url('../../../assets/logo-shadow.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            float: left;
        }
    }
    & .user{
        padding-top: 30px;
        & img{
            background-color: var(--blog-bg-secondary);
            text-align: center;
            line-height: 50px;
            position: absolute;
            height: 90px;
            width: 90px;
            border-radius: 50%;
            transform: translateY(calc(1.5rem - 45px));
            border: 4px solid var(--blog-bg-secondary);
            background-color: rgb(255, 175, 175);
            right: 35px;
        }
        & h2{
            font-size: 1.5rem;
            color: var(--blog-text-primary);
            padding-left: 40px;
            margin: 0;
            white-space: nowrap;
        }
    }
    & .profile{
        background-color: var(--blog-bg-secondary);
        padding: 20px 40px;
        color: white;
        & .icon{
            transform: translateY(6px);
        }
        & p{
            display: block;
            margin: 10px 5px 10px 5px;
            color: white;
            font-size: 0.8rem;
        }
        & .user-share-toggle-grid{
            grid-column: 1/3;
        }
    }
    & .stats{
        max-width: 350px;
        margin: 0 auto;
        padding: 30px 60px;
        display: grid;
        grid-template-columns: 1fr auto;
        font-weight: bold;
        font-size: 1rem;
        & p {
            text-align: left;
            color: var(--text-secondary);
            &.value{
                color: var(--text-accent);
                text-align: right;
            }
        }
    }
    & .content{
        padding: 0 30px 30px 30px;
        max-width: 400px;
        margin: 0 auto;
        & .item-controls{
            padding-top: 20px;
            grid-column: 1/3;
            text-align: center;
            & button{
                margin: 0;
            }
        }
        & h3{
            text-align: center;
            color: var(--text-secondary);
        }
    }
}