.blog-reviews--wrapper{
    padding: 0 30px 30px 30px;
    max-width: 400px;
    margin: 0 auto;
    & .item-controls{
        padding-top: 20px;
        grid-column: 1/3;
        text-align: center;
        & button{
            margin: 0;
        }
    }
    & h3{
        text-align: center;
        color: var(--text-secondary);
    }
    & .end{
        color: rgb(114, 117, 133);
        text-align: center;
        border-top: 5px dotted var(--text-accent);
        padding: 20px 0;
        font-size: 22px;
    }
    & .more{
        color: rgb(114, 117, 133);
        text-align: center;
        border: 2px solid var(--text-accent);
        padding: 5px 0;
        border-radius: 10px;
        font-size: 18px;
    }
}