.scrollable {
    overflow-y: scroll;
    height: 100vh;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px calc(100vw - 84px) 150px 120px auto auto;
    row-gap: 15px;
    column-gap: 15px;
    padding: 40px 30px 150px 30px;
    background: var(--bg-blend);
    background-size: 100vw 190px;
    background-repeat: no-repeat;
    @media screen and (max-width: 360px) {
        padding: 40px 20px 150px 20px;
    }
    
    & h4.bw {
        color: var(--text-primary);
        font-size: 24px;
        margin: 0;
    }
    & .title{
        grid-column: 1/4;
        grid-row: 1/2;
    }    
    & #chart-holder{
        z-index: 0;
        border: 2px solid var(--bg-border);
        touch-action: pan-y;
        grid-column: 1/4;
        grid-row: 2/3;
    }
    & .description{
        font-family: 'Poppins';
        position: relative;
        text-align: center;
        margin-top: calc(50vw - 80px);
        z-index: 1;
        width: calc(100vw - 84px);
        font-size: 11px;
        color: var(--text-secondary);
        & span{
            font-weight: bold;
            font-size: 40px;
            line-height: 40px;
        }
    }
    & .budget{
        text-align: center;
        background-color: var(--dash-bg-secondary);
        grid-column: 1/3;
        grid-row: 3/4;
        & p{
            color: var(--text-primary);
            font-size: 12px;
            padding: 15px 20px 10px 20px;
        }
        & h2{
            margin: 0px;
            font-size: 48px;
            color: var(--dash-text-secondary);
        }
    }
    & .limit{
        background: linear-gradient(180deg, var(--bg-border) 0%, var(--bg-border) 50%) no-repeat;
        background-position-y: 300px;
        background-size: 100% 1000%;
        text-align: center;
        padding: 80px 3px 0 3px;
        border: 2px solid var(--bg-border);
        grid-column: 3/4;
        grid-row: 3/5;
        transition: background-position-y 1s;
        & > p{
            color: var(--blog-text-primary);
            font-size: 12px;
        }
        & h3{
            font-size: 20px;
            color: var(--blog-text-primary);
        }        
    }
    & .total{
        padding: 5px;
        text-align: center;
        grid-column: 1/3;
        grid-row: 4/5;
        & > p{
            color: var(--text-accent);
        }
        & > h2 {
            margin: 0px;
            font-size: 48px;
            color: var(--text-accent);
        }
    }
    &>.heatmap {
        grid-column: 1/4;
        touch-action: pan-y;

        &>h2 {
            padding: 20px 0px 0px 0px;
            text-align: center;
            font-size: 1.5em;
            color: var(--text-secondary);
        }
    }
    & .daily-chart{
        grid-column: 1/4;

        padding: 10px 40px 30px 40px;
        position: relative;
    }
}
