.add-modal{
    display: grid;
    row-gap: 25px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    padding: 40px 40px 120px 40px;
    @media screen and (max-width: 350px){
        padding: 40px 20px 120px 20px;
    }
    background: var(--bg-blend);
    background-size: 100vw 190px;
    background-repeat: no-repeat;
    & .add-holder{
        border: 3px solid var(--blog-accent);
        border-radius: 8px;
        & .autofill-divider{
            font-size: 16px;
            color: var(--text-accent);
            margin-top: 20px;
            padding-top: 5px;
            border: none;
            border-top: 3px dotted var(--text-accent);
        }
        & h5{
            margin: 0;
            background-color: var(--add-header);
            color: var(--blog-text-primary);
            padding: 15px 0px;
            text-align: center;
            font-weight: 700;
            font-size: 1.1rem;
            @media screen and (min-width: 400px){
                font-size: 1.2rem;
            }
        }
        & label.autofill-label{
            font-size: 16px;
            color: var(--text-accent);
        }
        & .content{
            box-sizing: border-box;
            width: 100%;
            padding: 20px 20px 70px;
            & textarea{
                box-sizing: border-box;
                width: 100%;
                resize: none;
                padding: 10px;
                border: 1px solid rgb(243, 243, 243);
                border-radius: 4px;
            }
        }
        & .rating-holder{
            width: 100%;
            direction: rtl;
            & .rating-select{
                direction: ltr;
                display: grid;
                padding: 5px 10px 5px 15px;
                grid-template-columns: auto 90px;
                border-radius: 20px 0px 0px 20px;
                background-color: var(--blog-accent);
                max-width: 160px;
                & p{
                    color: white;
                    font-weight: bold;
                }
                & svg{
                    margin: 0 2px 0 2px;
                    height: 13px;
                }
            }
        }
    }
    & .autofill-select, .autofill-select > div{
        background-color: var(--bg-primary);
        color: var(--text-secondary);
    }
    
    & button.close-button{
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 3px;
        background-color: #FFAFA4;
        @media screen and (min-width: 400px){
            top: 28px;
            right: 28px;
        }
        & svg{
            font-size: 14px; 
        }
    }
    & .add-input{
        width: 100%;
    }
}
.add-button-holder{
    display: grid;
    grid-template-columns: auto 1fr auto;
    box-sizing: border-box;
    padding: 20px 5px 0px 5px;
    width: 100%;
    & button.text{
        border: 2px solid transparent;
        padding: 2px 20px;
        width: 100px;
        &#save-drink--button{
            background-color: transparent;
            color: var(--text-accent);
            border-color: var(--text-accent);
            &.saved{
                background-color: rgb(36, 200, 21);
                color: black;
                border-color: transparent;
            }
        }
    }

}
#description-input{
    color: var(--text-secondary);
    border-color: var(--text-light);
    background-color: transparent;
}
div.MuiDialogActions-root button > span {
    color: white;
}