.add-modal{
    display: grid;
    row-gap: 25px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    padding: 40px 40px 90px 40px;
    background: linear-gradient(180deg, var(--text-accent) 0%, var(--dash-blend) 50%);
    background-size: 100vw 190px;
    background-repeat: no-repeat;
    & .add-holder{
        border: 3px solid #F68080;
        border-radius: 8px;
        & h5{
            margin: 0;
            background-color: #FFF1EF;
            color: #F68080;
            border-bottom: 1px solid rgb(245, 179, 179);
            padding: 15px 0px;
            text-align: center;
            font-weight: 700;
            font-size: 1.1rem;
            @media screen and (min-width: 400px){
                font-size: 1.2rem;
            }
        }
        & .content{
            box-sizing: border-box;
            width: 100%;
            padding: 20px 20px;
            & textarea{
                box-sizing: border-box;
                width: 100%;
                resize: none;
                padding: 10px;
                border: 1px solid rgb(243, 243, 243);
                border-radius: 4px;
            }
        }
        & .rating-holder{
            width: 100%;
            direction: rtl;
            & .rating-select{
                direction: ltr;
                display: grid;
                padding: 5px 10px 5px 15px;
                grid-template-columns: auto 90px;
                border-radius: 20px 0px 0px 20px;
                background-color: #F68080;
                max-width: 160px;
                & p{
                    color: white;
                    font-weight: bold;
                }
                & svg{
                    margin: 0 2px 0 2px;
                    height: 13px;
                }
            }
        }
    }
    
    & button.close-button{
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 3px;
        background-color: #FFAFA4;
        @media screen and (min-width: 400px){
            top: 28px;
            right: 28px;
        }
        & svg{
            font-size: 14px; 
        }
    }
    & .add-input{
        width: 100%;
    }
}
.add-button-holder{
    text-align: center;
    width: 100%;
}

div.MuiDialogActions-root button > span {
    color: white;
}