.dashboard-page{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px calc(100vw - 84px) 150px 120px auto auto;
    row-gap: 15px;
    column-gap: 15px;
    padding: 40px 40px 90px 40px;
    background: linear-gradient(180deg, #FC8A8A 0%, #FFD3B3 50%);
    background-size: 100vw 190px;
    background-repeat: no-repeat;
    & .title{
        grid-column: 1/4;
        grid-row: 1/2;
    }    
    & #chart-holder{
        z-index: 0;
        border: 2px solid #FFDCDC;
        touch-action: pan-y;
        grid-column: 1/4;
        grid-row: 2/3;
        & .description{
            font-family: 'Poppins';
            position: absolute;
            text-align: center;
            margin-top: calc(50vw - 80px);
            z-index: 1;
            width: calc(100vw - 84px);
            font-size: 11px;
            & span{
                font-weight: bold;
                font-size: 40px;
                line-height: 40px;
            }
        }
    }
    & .budget{
        text-align: center;
        background-color: #FFAFA4 !important;
        grid-column: 1/3;
        grid-row: 3/4;
        & > p{
            color: white;
            font-size: 12px;
            padding: 15px 20px 10px 20px;
        }
    }
    & .limit{
        background: linear-gradient(180deg, #FFDCDC 0%, #FFDCDC 50%) no-repeat;
        background-position-y: 300px;
        background-size: 100% 1000%;
        text-align: center;
        padding: 80px 3px 0 3px;
        border: 2px solid #FFDCDC;
        grid-column: 3/4;
        grid-row: 3/5;
        transition: background-position-y 1s;
        & > p{
            color: #FC8A8A;
            font-size: 12px;
            mix-blend-mode: darken;
        }
    }
    & .total{
        padding: 5px;
        text-align: center;
        grid-column: 1/3;
        grid-row: 4/5;
        & > p{
            color: #FC8A8A;
        }
        & > h2 {
            color: #FC8A8A;
        }
    }
    & .daily-chart{
        touch-action: pan-y;
        grid-column: 1/4;
    }
}
@media (min-aspect-ratio: 13/8) and (min-width: 1200px) and (min-height: 700px){
    .dashboard-page{
        grid-template-columns: 85vh calc(75vw - 85vh - 110px) 25vw;
        grid-template-rows: 40px 20vh 20vh calc(45vh - 100px);
        row-gap: 15px;
        column-gap: 15px;
        & .title{
            grid-column: 1/3;
            grid-row: 1/2;
        }
        & #chart-holder{
            grid-column: 1/2;
            grid-row: 2/5;
            & .description{
                position: absolute;
                text-align: center;
                margin-top: calc(50vh - 130px);
                z-index: 100;
                width: 85vh;
                font-size: 18px;
            }
        }
    }
    .total{
        grid-column: 2/3;
        grid-row: 3/4;
        font-size: 24px;
    }
    .budget{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .limit{
        grid-column: 2/3;
        grid-row: 4/5;
        padding: 5vh 3px 0 3px;
    }
    .limit > h3 {
        font-size: 40px;
    }
    .limit > p {
        font-size: 18px;
    }
    .daily-chart{
        grid-column: 3/4;
        grid-row: 2/5;
    }
} 
