.add-modal{
    box-sizing: border-box;
    position: fixed;
    top: 50%;
    left: 50%;
    width: calc(100vw - 60px);
    max-width: 430px;
    padding: 20px 27px 0 27px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    background-color: var(--bg-secondary);
    border: 2px solid var(--bg-border);
    transition: background-color 350ms, border-color 350ms;
    & h5{
        margin: 0 0 15px 0;
        text-align: center;
        font-weight: 700;
        font-size: 1.1rem;
        @media screen and (min-width: 400px){
            font-size: 1.4rem;
        }
    }
    & button.close-button{
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 3px;
        background-color: #FFAFA4;
        @media screen and (min-width: 400px){
            top: 28px;
            right: 28px;
        }
        & svg{
            font-size: 14px; 
        }
    }
    & .add-input{
        width: 100%;
    }
}
.add-button-holder{
    text-align: center;
    width: 100%;
}

div.MuiDialogActions-root button > span {
    color: white;
}