.add-modal{
    display: grid;
    row-gap: 25px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    padding: 40px 20px 110px 20px;
    @media screen and (max-width: 350px){
        padding: 40px 20px 110px 20px;
    }
    background: var(--bg-blend);
    @media screen and (min-width: 950px) {
        background: var(--nav-bg);
    }
    background-size: 100vw 190px;
    background-repeat: no-repeat;

    & .add-holder{
        border: 3px solid var(--blog-accent);
        border-radius: 8px;
        overflow: hidden;

        & .holder {
            position: relative;

            & .tag {
                position: absolute;
                right: 0px;
                top: 20px;
            }
        }

        & .autofill-divider{
            font-size: 16px;
            color: var(--text-accent);
            margin-top: 20px;
            padding-top: 5px;
            border: none;
            border-top: 3px dotted var(--text-accent);
        }
        & h5{
            margin: 0;
            background-color: var(--add-header);
            color: var(--blog-text-primary);
            padding: 15px 0px;
            text-align: center;
            font-weight: 700;
            font-size: 1.1rem;
            @media screen and (min-width: 400px){
                font-size: 1.2rem;
            }
        }
        & label.autofill-label{
            font-size: 16px;
            color: var(--text-accent);
        }
        & .content{
            box-sizing: border-box;
            width: 100%;
            padding: 20px;
            & label.upload-image{
                border: 2px dashed var(--text-accent);
                border-radius: 3px;
                font-size: 0.9rem;
                box-sizing: border-box;
                text-align: center;
                color: var(--text-accent);
                display: inline-block;
                padding: 5px;
                width: 100%;
                cursor: pointer;
                margin-bottom: 10px;
                &.uploading{
                    border: 2px solid var(--text-accent);
                }
                &.uploaded{
                    border: 2px solid rgb(15, 207, 15);
                }
            }
            & img.upload-preview{
                width: 100%;
                object-fit: contain;
            }
            & input[type="file"] {
                display: none;
            }            
            & textarea{
                box-sizing: border-box;
                width: 100%;
                resize: none;
                padding: 10px;
                border: 1px solid rgb(243, 243, 243);
                border-radius: 4px;
            }
        }
    }
    & .autofill-select, .autofill-select > div{
        background-color: var(--bg-primary);
        color: var(--text-secondary);
    }
    
    & button.close-button{
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 3px;
        background-color: #FFAFA4;
        @media screen and (min-width: 400px){
            top: 28px;
            right: 28px;
        }
        & svg{
            font-size: 14px; 
        }
    }
    & .add-input{
        width: 100%;
    }
}
.add-button-holder{
    display: grid;
    grid-template-columns: auto 1fr auto;
    box-sizing: border-box;
    padding: 20px 5px 0px 5px;
    width: 100%;
    & button.text{
        border: 2px solid transparent;
        padding: 2px 20px;
        width: 100px;
        &.save{
            background-color: transparent;
            color: var(--text-accent);
            border-color: var(--text-accent);
            &.saved{
                background-color: rgb(36, 200, 21);
                color: black;
                border-color: transparent;
            }
        }
    }

}
#description-input{
    color: var(--text-secondary);
    border-color: var(--text-light);
    background-color: transparent;
}
div.MuiDialogActions-root button > span {
    color: white;
}