.user {
    filter: brightness(0.75);
}

button.button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 400;
    height: 50px;
    width: 60px;
    display: grid;
    place-content: center;
    background-color: var(--nav-bg);
    &>svg {
        height: 30px;
        width: 30px;
        fill: var(--text-primary);
    }
}
