.user-modal{
    position: fixed;
    box-sizing: border-box;
    width: calc( 100vw - 50px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    color: var(--text-secondary);
    background-color: var(--bg-primary);
    border: 3px solid var(--nav-bg);
    border-radius: 10px;
    padding: 60px 40px 26px 40px;
    transition: all 320ms;
    z-index: 1050;
    &:focus{
        outline: none;
    }
    & .theme-select, .theme-select > div{
        background-color: var(--bg-primary);
        color: var(--text-secondary);
    }
    & label.theme-label{
        font-size: 16px;
        color: var(--text-accent);
    }
    & .avatar{
        border-radius: 50%;
        height: 100px;
        width: 100px;
        position: absolute;
        top: -60px;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
        border: 4px solid var(--nav-bg);
        background-color: var(--bg-border);
        transition: background-color 350ms, border 350ms;
    }
    & h1{
        margin: 0 0 26px 0;
        text-align: center;
        font-size: 1.5rem;
        @media screen and (min-width: 370px){
            font-size: 1.8rem;
        }
    }
}
.button-holder{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    width: 100%;
    & button{
        padding: 0px;
        margin: 26px 15px 5px;
    }
    & .logout{
        // box-shadow: none;
        color: var(--logout-btn);
        border: 1px solid var(--logout-btn);
        background-color: var(--bg-primary);
    }
}
button.close-button, button.help-button{
    box-sizing: border-box;
    position: absolute;
    top: 16px;
    padding: 0px;
    margin: 0px;
    right: 16px;
    background-color: transparent;
    border-radius: 50%;
    &:focus, &:hover, &:active{
        background-color: transparent;
    }
    & svg{
        & path{
            fill: var(--text-accent);
        }
    }
}
button.help-button{
    right: 45px;
}
.user-share-profile{
    font-size: 15px;
    display: grid;
    grid-template-columns: 1fr 50px;
    row-gap: 10px;
    padding: 5px;
}