.bottom-nav{
    width: 100%;
    position: fixed;
    bottom: 0;
}
.center-fab{
    height: 100px;
    width: 100px;
    box-sizing: border-box;
    padding-top: 17px;
    margin-top: -35px;
    text-align: center;
    border: 5px solid #FFAFA4;
    border-radius: 50%;
    color: #FFAFA4;
    background-color: white;
    z-index: 1000;
}
.page{
    height: calc(100vh - 56px);
    box-sizing: border-box;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 40px;
    position: relative;
}
.avatar-button{
    height: 37px;
    width: 37px;
    border-radius: 50%;
    position: absolute;
    right: -36px;
    top: 5px;
}
@-moz-document url-prefix() {
    .center-fab{
        margin-top: -5px;
    }
}
@media only screen and (max-width: 350px) {
    h2 {
        font-size: 30px !important;
    }
    h3 {
        font-size: 20px !important;
    }
    h4 {
      font-size: 20px !important;
    }
  }
