.container {
    display: grid;
    row-gap: 15px;

    &>.see-more {
        padding: 20px;
        font-size: 1.4em;
        color: var(--text-accent);
        text-align: center;
        background-color: var(--blog-bg-secondary);
        border-radius: 4px;
        transition: background-color 350ms;
        cursor: pointer;

        &:hover {
            background-color: var(--bg-secondary);
        }
    }
    &>.empty {
        padding: 20px;
        font-size: 1.3em;
    }

    &>.month {
        font-size: 2em;
        font-weight: bold;
        color: var(--text-accent);
    }
}
