.container {
    position: relative;
    padding: 20px;
    background-color: var(--blog-bg-primary);

    &>p {
        font-size: 1.8em;
        font-weight: bold;
        color: var(--autofill-text);

        &>span {
            color: var(--autofill-title);
            font-size: 0.6em;
            font-weight: normal;
            text-transform: uppercase;
        }
        
        &>.tag {
            display: inline-block;
            margin: 0px 7px 0px 3px;
            transform: translateY(2px);
        }

        &>.star {
            & path {
                fill: gold;
            }
        }
    }

    &>.actions {
        background-color: var(--overlay-background);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: grid;
        place-content: center;
        grid-auto-flow: column;
        column-gap: 20px;
        opacity: 0;
        transition: opacity 350ms;
        

        &.show {
            opacity: 1;
        }

        &>button {
            border-radius: 50%;
            height: 50px;
            width: 50px;
            display: grid;
            place-content: center;
            padding: 0;
            cursor: pointer;

            &.fill {
                background-color: rgb(43, 214, 57);
                & path {
                    fill: white;
                }
            }

            &.delete {
                background-color: rgb(214, 43, 43);
                & path {
                    fill: white;
                }
            }
        }
    }
}
