nav.wrapper{
    z-index: 600;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    bottom: 0px;
    background-color: var(--nav-bg);
    -webkit-appearance: none;

    height: 56px;
    width: 100%;
    padding: 0 10px;

    @media screen and (min-width: 950px) {
        top: 0;
        height: 100vh;
        width: 100px;
        padding: 0 10px;
    }

    &>.icon-holder {
        display: grid;

        grid-template-columns: repeat(5, 1fr);
        max-width: 600px;
        margin:  0 auto;

        @media screen and (min-width: 950px) {
            padding-top: 100px;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(5, 1fr);
            row-gap: 40px;
            margin:  0 auto;
        }
    }
    & .add-icon{
        height: 100px;
        width: 100px;
        box-sizing: border-box;
        margin: -22px auto;
        padding-top: 17px;
        text-align: center;
        border: 6px solid var(--nav-bg);
        border-radius: 50%;
        color: var(--nav-bg);
        background-color: var(--nav-text);
        z-index: 700;
        transition: transform 350ms;
        &.selected{
            transform: translateY(-5px);
        }
        &>.add {
            font-size: 50px;
        }

        @media screen and (min-width: 950px) {
            padding: 0px;
            height: 100%;
            width: 100%;
            border: none;
            display: grid;
            place-content: center;
            margin: 0px;
            color: var(--nav-text);
            background-color: transparent;
            &.selected {
                transform: none;
                & svg {
                    filter: brightness(5);
                }
            }
            &>.add {
                font-size: 2.2em;
            }
        }
    }
    & .icon{
        padding-top: 15px;
        text-align: center;
        transition: padding-top 350ms;
        -webkit-appearance: none;
        
        @media screen and (min-width: 950px) {
            padding: 0px;
            height: 100%;
            width: 100%;
            border: none;
            display: grid;
            place-content: center;
            box-sizing: border-box;
            font-size: 2em;
            padding-top: 0px !important;
            & svg {
                height: 30px;
                width: 30px;
                transition: filter 350ms;
            }
            &.selected{
                padding-top: 0px;
                & svg {
                    filter: brightness(5);
                }
            }
            & p.label {
                display: none;
            }
        }

        &.selected{
            padding-top: 8px;
            & p.label{
                height: 1.5rem;
            }
        }
        & p.label{
            transform: translateY(-13px);
            font-size: 0.9rem;
            overflow: hidden;
            height: 0;
            transition: height 350ms;
            color: var(--nav-text);
            text-decoration: none;
        }
        & svg{
            transition: filter 350ms;
            fill: var(--nav-text);
        }
    }
}
