.wrapper {
    position: relative;
    left: 120px;
    background-color: var(--nav-bg);
    height: 100%;
    width: calc(100vw - 120px);
    display: grid;
    grid-template-columns: 1fr 400px;
    transition: background-color 350ms;

    &>main {
        padding: 0px 20px;
        &>header {
            height: 145px;
            box-sizing: border-box;
            padding: 30px 0 30px 20px;

            &>h1.title {
                text-transform: uppercase;
                color: var(--text-primary);
                font-size: 3.5em;
                margin: 0;
                transition: color 350ms;
            }
        }

        & .form-wrapper {
            height: calc(100vh - 140px);
            overflow: scroll;
            & fieldset {
                display: grid;
                padding: 20px;
                row-gap: 20px;
                border: none;

                &>.image-upload {
                    padding: 20px;
                }
                &>.description {
                    background-color: transparent;
                    color: var(--text-primary);
                    resize: vertical;
                    padding: 10px;
                    border: 1px solid rgb(243, 243, 243);
                    border-radius: 4px;
                }
            }
        }
    }
}
